<!DOCTYPE html>
<html>
<head>
    <title>Parking Spot Finder - Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <nav>
        <ul>

            <li><a href="/login">Login</a></li>
            <li><a href="/reg">Signup</a></li>
            <li><a href="{{  url_for('static', filename='about.html') }}">About Us</a></li>
            <li><a href="{{  url_for('static', filename='contact.html') }}">Contact Us</a></li>
        </ul>
    </nav>

    <h1>Login</h1>

     <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="btn">Enter</button>
      <a href="/predict_live">Enter Live View</a>
    </form>

</body>
</html>

