body{
    margin: 0;
    background-image: url(indeximg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#menu{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.items{
    padding: 10px;
}

.items a{
    color: white;
    font-size: 3.5vh;
    text-decoration: none;
}

.items a:hover{
    color: lightgoldenrodyellow;
}

#desc-box{
    margin-left: 530px;
    margin-right: 530px;
    margin-top: 230px;
    margin-bottom: 230px;
    width: 30vw;
    height: 17vh;
    padding: 15px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    cursor: default;
}

#desc{
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#btn{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: 250px;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 3vh;
    border: 3px solid white;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

#btn:hover{
    background: white;
    color: black;
}